html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.header-logo {
  display: flex;
}
.logo-title {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  height: 6rem;
  width: 6rem;
}
.pizza-interior {
  min-height: 0;
  /* width: 100%; */
  /* height: auto; */
  max-width: 25rem;
  max-height: 18rem;
  min-width: 10rem;
  /* display: flex; */
  /* flex-shrink: 2; */
  /* height: auto; */
  width: auto;
  /* max-width: 300px; */
  /* max-height: 300px; */
}
.pizza-interior:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
}
.header {
  height: 500px;
  width: auto;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.container-header-top {
  display: flex;
  justify-content: space-around;
}
.header-links {
  display: flex;
  gap: 2rem;
  margin: auto 0;

  /* padding: 1.5rem; */
}
.header-links a:hover {
  filter: drop-shadow(0 0 0.5rem rgb(247, 95, 125));
}

.container-header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 5%;

}

.hero {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 32rem;
  max-height: 20rem;
}
.hero-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
  max-width: 24rem;
}
.header a,
.hero-description {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header .hero-description {
  display: flex;
  flex-wrap: wrap;
  max-width: 32rem;
}

.sign-up {
  background-color: #3882f6;
  width: 120px;
  color: #f9faf8;
  border-radius: 8px;
  border-width: 0;
  padding: 6px;
  font-size: 20px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
}
.sign-up:hover {
  background-color: lightgreen;
  color: black;
}
.sign-up:active {
  background-color: red;
  color: black;
}
.middle-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  gap: 3rem;
}

.middle-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.middle-images {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 12px;
}
.middle-images img {
  width: 100%;
  height: auto;
  max-width: 21.5rem;
  max-height: 16rem;
  border: solid 4px #3882f6;
  border-radius: 10px;
}
.img-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.desc {
  display: flex;
  flex-wrap: wrap;
  max-width: 15rem;
  text-align: center;
  color: #1f2937;
  font-weight: 500;
}
.quote-background-container {
  background-color: #e6e7eb;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-container {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 10rem;
}
.quote-container .quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  display: flex;
  max-width: 60rem;
  flex-wrap: wrap;
}

.quote-container .quote-author {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-self: flex-end;
}
.contact-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}
.contact-order {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.contact-info {
    min-width: 15rem;
}
.contact-container {
  background-color: #3882f6;
  border-radius: 10px;
  width: 55rem;
  height: auto;
  /* margin: 8rem; */
  padding: 1.5rem;
}

.contact-header {
  font-size: 24px;
  color: #f9faf8;
}
.contact-desc {
    color: e5e7eb;
    
}
.order-button {
  background-color: #3882f6;
  border: solid 4px white;
  border-radius: 8px;
  color: #e5e7eb;
  padding: 8px 12px;
  margin: auto 0;
}

.order-button:hover {
    background-color: #3882f6;
    border: solid 4px black;
    color: black;
}

.footer {
    height: 10rem;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright, .back-to-top{
    font-size: 18px;
    color: #e5e7eb;
    
}
.back-to-top {
    text-decoration: none;
    text-align: center;
}
.back-to-top:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 900;
    line-break: loose;
    text-decoration: underline;
}