* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    
}
.header-logo {
    display: flex;
}
.logo-title {
    font-size: 24px;
    color: #F9FAF8;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.logo {
    display: flex;
    height: 6rem;
    width: 6rem;
    
}
.pizza-interior {
    min-height: auto;
    width: 100%;
    height: auto;
    max-width: 25rem;
    max-height: 18rem;
    min-width: 20rem;
    display: flex;
    flex-shrink: 2;
}
.pizza-interior:hover{
    filter: drop-shadow(0 0 0.75rem crimson);
}
.header {
    height: 500px;
    width: auto;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100%;
}
.container-header-top {
    display:flex;
    justify-content: space-around;
}
.header-links {
    display: flex;
    gap: 2rem;
    margin: auto 0;
    
    /* padding: 1.5rem; */
}
.header-links a:hover {

    filter: drop-shadow(0 0 0.5rem rgb(247, 95, 125));

}

.container-header-middle {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5%;

}

.hero {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 32rem;
    max-height: 20rem;
}
.hero-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    max-width: 24rem;
}
.header a, .hero-description {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.header .hero-description {
    display: flex;
    flex-wrap: wrap;
    max-width: 32rem;
}

.sign-up {
    background-color: #3882F6;
    width: 120px;
    color: #F9FAF8; 
    border-radius: 8px;
    border-width: 0;
    padding: 6px;
    font-size: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 10px;
}   
.sign-up:hover {
    background-color: lightgreen;
    color: black;
}
.sign-up:active {
    background-color: red;
    color: black
}
.middle-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    gap: 3rem;
    margin-bottom: 8%;
}

.middle-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.middle-images {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 12px;
}
.middle-images img {

    width: 100%;
    height: auto;
    max-width: 21.5rem;
    max-height: 16rem;
    border: solid 4px #3882F6;;
    border-radius: 10px;
    
}
.img-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.desc {
    display: flex;
    flex-wrap: wrap;
    max-width: 10rem;
    text-align: center;
    color: #1F2937;
    font-weight: 500;
}
.quote-background-container{
    background-color: #E6E7EB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container {
    display: flex;
    width: 80%;
    height: auto;
    /* background-color: #E6E7EB; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 10rem;;
    /* padding: 20px; */
}
.quote-container .quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    display: flex;
    max-width: 60rem;
    flex-wrap: wrap;
    /* padding: 20px; */
}

.quote-container .quote-author {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-self: flex-end;
    
}